
// Home Blocks Layout

.post-preview {
	margin-bottom: $lh;
	transition: flex 100ms ease-in-out;
	@include respond-to(mobile-ls) {
		padding-left: $block-gutter;
	}
	@include respond-to(tablet) {
		padding-left: $tablet-block-gutter;
		margin-bottom: $tablet-lh;
	}
	@include respond-to(desktop) {
		padding-left: $desktop-block-gutter;
		margin-bottom: $desktop-lh;
	}
	@include respond-to(desktop-1440) {
		padding-left: $desktop-1440-block-gutter;
	}
	@include respond-to(desktop-1600) {
		padding-left: $desktop-1600-block-gutter;
	}
}

.post-preview__content {
	position: relative;
	z-index: 10;
}

$video-post--desktop: 532px;
$video-post--desktop-1440: 630px;
$video-post--desktop-1600: 700px;

$video-post-height--tablet: 208px;
$video-post-height--desktop: 320px;
$video-post-height--desktop-1440: 352px;
$video-post-height--desktop-1600: 416px;

.post-preview--default {
	.post-preview__video {
		padding-top: 60%;
	}
	.post-preview__title {
		margin: ($lh/2) 0 ($lh/4);
	}
	@include respond-to(tablet) {
		.post-preview__title {
			margin: ($tablet-lh/2) 0 ($tablet-lh/4);
		}
		.post-preview__video {
			padding-top: 0;
			height: $video-post-height--tablet;
			background: #000;
			video {
				width: 100%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}	
	@include respond-to(desktop) {
		.post-preview__title {
			margin: ($desktop-lh/2) 0 ($desktop-lh/4);
		}
		&.post-preview--video {
			flex: 0 0 ($video-post--desktop + $desktop-block-gutter);
		}
		.post-preview__video {
			padding-top: 0;
			height: $video-post-height--desktop;
		}
	}	
	@include respond-to(desktop-1440) {
		&.post-preview--video {
			flex: 0 0 ($video-post--desktop-1440 + $desktop-1440-block-gutter);
		}
		.post-preview__video {
			height: $video-post-height--desktop-1440;
		}
	}
	@include respond-to(desktop-1600) {
		&.post-preview--video {
			flex: 0 0 ($video-post--desktop-1600 + $desktop-1600-block-gutter);
		}
		.post-preview__video {
			height: $video-post-height--desktop-1600;
		}
	}	
}

.post-preview--featured {
	margin-left: auto;
	margin-right: auto;
	.post-preview__title {
		margin: 0;
	}
	.post-preview__video {
		height: 192px;
	}	
	.post-preview__content {
		margin-top: $lh;
	}
	@include respond-to(mobile-ls) {
		.post-preview__video {
			margin: 0 auto;
			padding: 0;
			width: 380px;
			height: 240px;
		}		
		.post-preview__link {
			width: 410px;
			margin: 0 auto;
		}
		.post-preview__content {
			margin-top: $lh * -1;
			margin-right: $char-width * -3;
			margin-left: $char-width * 3;
			&__inner {
				padding: ($lh/2) $char-width;
			}
		}
	}
	@include respond-to(tablet) {
		.post-preview__video {
			width: 612px;
			height: 390px;
		}		
		.post-preview__link {
			width: 636px;
		}
		.post-preview__content {
			margin-top: ($tablet-lh + ($tablet-lh/2)) * -1;
			margin-right: $tablet-char-width * -5;
			margin-left: $tablet-char-width * 5;
			&__inner {
				padding: ($tablet-lh/2) $tablet-char-width;
			}
		}
	}
	@include respond-to(desktop) {
		.post-preview__video {
			width: 714px;
			height: 408px;
		}	
		.post-preview__link {
			width: 714px;
		}
		.post-preview__content {
			margin-top: ($desktop-lh + ($desktop-lh/2)) * -1;
			margin-right: $desktop-char-width * -5;
			margin-left: $desktop-char-width * 5;
			&__inner {
				padding: ($desktop-lh/2) $desktop-char-width;
			}
		}
	}
	@include respond-to(desktop-1440) {
		.post-preview__video {
			width: 868px;
			height: 544px;
		}
	}	
	@include respond-to(desktop-1600) {
		.post-preview__video {
			width: 966px;
			height: 544px;
		}
	}	
}

// orientation specific styles

// Landscape
$default-post--mobile-ls: 220px;
$default-post--tablet: 322px;
$default-post--desktop: 350px;
$default-post--desktop-1440: 392px;

$portrait-post--tablet: 240px;
$portrait-post--desktop: 546px;
$portrait-post--desktop-1440: 630px;
$portrait-post--desktop-1600: 658px;

$portrait-height: 360px;
$portrait-height--x2: 456px;
$portrait-height--mobile-ls: 240px;
$portrait-height--tablet: 312px;
$portrait-height--desktop: 320px;
$portrait-height--desktop-1440: 384px;

$portrait-post-image--mobile-ls: 160px;
$portrait-post-image--tablet: 228px;
$portrait-post-image--desktop: 216px;
$portrait-post-image--desktop-1440: 266px;

.post-preview--landscape,
.post-preview--text {
	.post-preview__image {
		height: 192px;
		position: relative;
		.preview-image {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	@include respond-to(mobile-ls) {
		flex: 0 0 $default-post--mobile-ls;
		.post-preview__image {
			height: 120px;
			.preview-image {
				position: static;
			}
		}
	}
	@include respond-to(tablet) {
		flex: 0 0 ($default-post--tablet + $tablet-block-gutter);
		.post-preview__image {
			height: 208px;
		}
	}	
	@include respond-to(desktop) {
		flex: 0 0 ($default-post--desktop + $desktop-block-gutter);
		.post-preview__image {
			height: 224px;
		}
	}	
	@include respond-to(desktop-1440) {
		flex: 0 0 ($default-post--desktop-1440 + $desktop-1440-block-gutter);
		.post-preview__image {
			height: 256px;
		}
	}
	@include respond-to(desktop-1600) {
		flex: 0 0 ($default-post--desktop-1440 + $desktop-1600-block-gutter);
	}	
}

.post-preview--portrait {
	@include respond-to(mobile-ls) {
		.post-preview__link {
			display: flex;
		}
	}
	@include respond-to(tablet) {
		.post-preview__link {
			display: block;
		}
	}
	@include respond-to(desktop) {
		.post-preview__title {
			margin: 0 0 10px;
		}	
		.post-preview__link {
			display: flex;
		}
	}	
}

.post-preview__meta__title {
	display: inline-block;
}

// Portrait Default
.post-preview--default.post-preview--portrait {
	.post-preview__image {
		height: $portrait-height;
	}
	.post-preview__meta--bottom {
		display: none;
	}
	.post-preview__meta--top {
		margin-bottom: $lh/2;
	}
	@include respond-to(mobile-x2) {
		.post-preview__image {
			height: $portrait-height--x2;
		}
	}
	@include respond-to(mobile-ls) {
		flex: 0 0 100%;
		.post-preview__image {
			height: $portrait-height--mobile-ls;
			flex: 0 0 $portrait-post-image--mobile-ls;
		}
		.post-preview__meta--bottom {
			display: block;
		}
		.post-preview__meta--top {
			display: none;
		}
		.post-preview__content {
			flex: 0 0 220px;
			padding-left: $char-width;
		}	
	}
	@include respond-to(tablet) {
		flex: 0 0 ($portrait-post--tablet + $tablet-block-gutter);
		.post-preview__image {
			height: $portrait-height--tablet;
			width: $portrait-post-image--tablet;
		}
		.post-preview__meta--bottom {
			display: none;
		}
		.post-preview__meta--top {
			display: block;
			margin-bottom: $tablet-lh/2;
		}
	}
	@include respond-to(desktop) {
		flex: 0 0 ($portrait-post--desktop + $desktop-block-gutter);
		.post-preview__meta--bottom {
			display: block;
		}
		.post-preview__meta--top {
			display: none;
			margin-bottom: $desktop-lh/2;
		}
		.post-preview__image {
			flex: 0 0 $portrait-post-image--tablet;
			height: $portrait-height--desktop;
			width: 100%;
		}
		.post-preview__content {
			flex: 0 0 336px;
			padding-left: $desktop-char-width;
		}	
	}	
	@include respond-to(desktop-1440) {
		flex: 0 0 ($portrait-post--desktop-1440 + $desktop-1440-block-gutter);
		.post-preview__image {
			flex: 0 0 $portrait-post-image--desktop-1440;
			height: $portrait-height--desktop-1440;
		}
		.post-preview__content {
			flex: 0 0 336px;
			padding-left: $desktop-char-width;
		}	
	}
	@include respond-to(desktop-1600) {
		flex: 0 0 ($portrait-post--desktop-1440 + $desktop-1440-block-gutter);
	}	
}
$portrait-featured-image-height--mobile: 360px;
$portrait-featured-image-height--mobile-x2: 456px;

$portrait-featured-image--mobile-ls: 220px;
$portrait-featured-image-height--mobile-ls: 360px;
$portrait-featured-content--mobile-ls: 280px;

$portrait-featured-image--tablet: 288px;
$portrait-featured-image-height--tablet: 468px;
$portrait-featured-content--tablet: 420px;

$portrait-featured--desktop: 700px;
$portrait-featured-image--desktop: 322px;
$portrait-featured-image-height--desktop: 512px;
$portrait-featured-content--desktop: 448px;

$portrait-featured--desktop-1440: 1078px;
$portrait-featured-image--desktop-1440: 448px;
$portrait-featured-image-height--desktop-1440: 640px;
$portrait-featured-content--desktop-1440: 700px;

//Portrait--Featured
.post-preview--featured.post-preview--portrait {
	flex: 0 0 100%;
	.post-preview__title {
		position: relative;;
	}		
	.post-preview__image {
		height: $portrait-featured-image-height--mobile;
		.preview-image {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	@include respond-to(mobile-x2) {
		.post-preview__image {
			height: $portrait-featured-image-height--mobile-x2;
		}		
	}
	@include respond-to(mobile-ls) {
		.post-preview__image {
			flex: 0 0 $portrait-featured-image--mobile-ls;
			height: $portrait-featured-image-height--mobile-ls;
		}		
		.post-preview__content {
			flex: 0 0 $portrait-featured-content--mobile-ls;
			margin-top: $lh;
			margin-left: $char-width * -9;
			&__inner {
				padding: ($lh/2) 0 ($lh/2) $char-width;
			}
		}
	}
	@include respond-to(tablet) {
		.post-preview__link {
			display: flex;
		}
		.post-preview__content {
			flex: 0 0 $portrait-featured-content--tablet;
			margin-top: 64px;
			margin-left: $tablet-char-width * -6;
			&__inner {
				padding: ($tablet-lh/2) 0 ($tablet-lh/2) $tablet-char-width;
			}
		}
		.post-preview__image {
			flex: 0 0 $portrait-featured-image--tablet;
			height: $portrait-featured-image-height--tablet;
			.preview-image {
				position: static;
			}			
		}
	}	
	@include respond-to(desktop) {
		flex: 0 0 ($portrait-featured--desktop + $desktop-block-gutter);
		.post-preview__link {
			width: 714px;
		}
		.post-preview__content {
			flex: 0 0 $portrait-featured-content--desktop;
			margin-left: -56px;
		}
		.post-preview__image {
			flex: 0 0 $portrait-featured-image--desktop;
			height: $portrait-featured-image-height--desktop;
		}
	}	
	@include respond-to(desktop-1440) {
		flex: 0 0 ($portrait-featured--desktop-1440 + $desktop-1440-block-gutter);
		.post-preview__link {
			width: 1074px;
		}
		.post-preview__content {
			flex: 0 0 $portrait-featured-content--desktop-1440;
			margin-top: 64px;
			margin-left: -70px;
			&__inner {
				padding: ($desktop-lh/2) 0 ($desktop-lh/2) $desktop-char-width;
			}
		}
		.post-preview__image {
			flex: 0 0 $portrait-featured-image--desktop-1440;
			height: $portrait-featured-image-height--desktop-1440;
		}
	}
	@include respond-to(desktop-1600) {
		flex: 0 0 ($portrait-featured--desktop-1440 + $desktop-1600-block-gutter);
	}
}

// Landscape Default
.post-preview--default.post-preview--landscape {
	.post-preview__meta {
		margin-bottom: $lh/2;
	}
	@include respond-to(tablet) {
		.post-preview__meta {
			margin-bottom: $tablet-lh/2;
		}
	}	
	@include respond-to(desktop) {
		.post-preview__meta {
			margin-bottom: $desktop-lh/2;
		}
	}	
}

$landscape-featured-image-height--mobile: 192px;
$landscape-featured-image-height--mobile-x2: 456px;

$landscape-featured-image-height--mobile-ls: 240px;

$landscape-featured-image-height--tablet: 390px;

$landscape-featured-image-height--desktop: 408px;

$landscape-featured-image--desktop-1440: 868px;
$landscape-featured-image-height--desktop-1440: 544px;

$landscape-featured-image--desktop-1600: 966px;
$landscape-featured-image-height--desktop-1600: 576px;


// Landscape--Featured 
.post-preview--featured.post-preview--landscape {
	.post-preview__image {
		height: $landscape-featured-image-height--mobile;
	}
	.post-preview__content {
		position: relative;
		z-index: 10;
	}	
	@include respond-to(mobile-ls) {
		flex: 0 0 100%;
		.post-preview__image {
			height: $landscape-featured-image-height--mobile-ls;
		}
	}	
	@include respond-to(tablet) {
		.post-preview__image {
			height: $landscape-featured-image-height--tablet;
		}
	}
	@include respond-to(desktop) {
		.post-preview__image {
			height: $landscape-featured-image-height--desktop;
		}
	}
	@include respond-to(desktop-1440) {
		.post-preview__image {
			height: $landscape-featured-image-height--desktop-1440;
		}
		.post-preview__link {
			width: $landscape-featured-image--desktop-1440;
		}
		.post-preview__content {
			width: 966px;
		}
	}
	@include respond-to(desktop-1600) {
		.post-preview__image {
			height: $landscape-featured-image-height--desktop-1600;
		}
		.post-preview__link {
			width: $landscape-featured-image--desktop-1600;
		}
	}
}

img {
	width: 100%;
	height: auto;
}

.website-footer {
	margin-top: $lh * 2;
	padding-bottom: $lh;
	.contact &,
	.front & {
		margin-top: 0;
	}
	@include respond-to(tablet) {
		margin-top: $tablet-lh * 2;
		padding-bottom: $tablet-lh;
		.contact &,
		.front & {
			margin-top: 0;
		}
	}
	@include respond-to(desktop) {
		margin-top: $desktop-lh * 2;
		padding-bottom: $desktop-lh;
		.contact &,
		.front & {
			margin-top: 0;
		}
	}
}

.js-gallery-isActive {
	height: 100%;
	overflow: hidden;
	main,
	.website-footer,
	.website-header {
		opacity: 0;
	}
}


.website-footer__icons-holder {
	position: relative;
}

.footer-icon {
	display: block;
	height: 100%;
	padding: 0 3px;
	background-color: #FFF;
	svg {
		height: 100%;
		width: auto;
	}
	&--facebook{
    left: 24px * 2;
	}
	&--linkedin {
    left: 24px * 4;
	}
}
