$char-width: 14px;

body {
	padding-top: 32px;
}

.container,
.wrapper {
	padding: 0 48px 0;
	margin: 0 auto;
	width: 1440px;
}

.website-header {
	position: fixed;
	padding: 32px 0 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #FFF;
}

.main-content {
	padding-top: 160px;
}

.landing-section {
	.landing-page--journal & {
		display: flex;
		flex-wrap: wrap;
		margin-left: -84px;
	}
}

.post-preview {
	padding-left: 84px;
}

.post-preview--featured {
	flex: 0 0 1162px;
	margin: 0 auto 64px;
	clear: both;
	&.post-preview--landscape {
		flex: 0 0 1067px;
	}
}

.post-preview--default {
	flex: 0 0 476px;
	&.post-preview--portrait {
		flex: 0 0 714px;
	}
}

img {
	width: 100%;
	height: auto;
}

.website-footer {
	margin-top: 96px;
	padding-bottom: 32px;
}

.js-gallery-isActive {
	height: 100%;
	overflow: hidden;
	main,
	.website-footer,
	.website-header {
		opacity: 0.025;
	}
}