$mobile-padding: 20px;
.fake {
	opacity: 0;
	visibility: 0;
	position: absolute;
	z-index: -10;
}
body {
	padding-top: $lh;
	@include respond-to(tablet) {
		padding-top: $tablet-lh;
	}
	@include respond-to(desktop) {
		padding-top: $desktop-lh;
	}
}

.container,
.wrapper {
	@include wrapper;
	padding: 0 $mobile-padding 0;
	@include respond-to(tablet) {
		padding: 0;
	}
}

.main-section {
	max-width: 280px;
	.contact & {
		max-width: 100%;
	}
	@include respond-to(mobile-x2) {
		max-width: 340px;
		.contact & {
			max-width: 100%;
		}
	}	
	@include respond-to(mobile-ls) {
		max-width: 100%;
	}
}

.mobileMenu-isActive {
	overflow: hidden;
	.website-header {
		overflow: hidden;
	}
	.website-header__inner--mobile {
		max-height: 100vh;
		overflow-y: scroll;
	}
}
.website-header {
	position: fixed;
	padding: $lh 0 ($lh/4);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: #FFF;
	.contact & {
		padding-bottom: 0;
	}
	@include respond-to(tablet) {
		padding: $tablet-lh 0 ($tablet-lh/4);
	}
	@include respond-to(desktop) {
		padding: $desktop-lh 0 ($desktop-lh/4);
	}
}

.main-content {
	width: 270px;
	min-height: calc(100vh -  (#{$lh} * 4) -  (#{$lh} * 2));
	padding-top: $lh * 3;
	.contact & {
		padding-top: $lh * 2;
		width: 100%;
	}
	@include respond-to(mobile-x2) {
		width: 330px;
		.contact & {
			width: 100%;
		}
	}
	@include respond-to(mobile-ls) {
		width: 100%;
	}
	@include respond-to(tablet) {
		width: 100%;
		min-height: calc(100vh -  (#{$tablet-lh} * 5) -  (#{$tablet-lh} * 2));
		padding-top: $tablet-lh * 5;
		.contact & {
			padding-top: $tablet-lh * 2;
		}
	}
	@include respond-to(desktop) {
		min-height: calc(100vh -  (#{$desktop-lh} * 5) -  (#{$desktop-lh} * 2));
		padding-top: $desktop-lh * 5;
		.contact & {
			padding-top: $desktop-lh * 3;
		}
	}
}

%defaultGrid {
	@include respond-to(mobile-ls) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1 * $block-gutter;
	}
	@include respond-to(tablet) {
		margin-left: -1 * $tablet-block-gutter;
	}
	@include respond-to(desktop) {
		margin-left: -1 * $desktop-block-gutter;
	}
	@include respond-to(desktop-1440) {
		margin-left: -1 * $desktop-1440-block-gutter;
	}
	@include respond-to(desktop-1600) {
		margin-left: -1 * $desktop-1600-block-gutter;
	}
}

%teamMembersGrid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1 * $block-gutter;
	@include respond-to(tablet) {
		margin-left: -1 * $tablet-block-gutter;
	}
	@include respond-to(desktop) {
		margin-left: -1 * $desktop-block-gutter;
	}
	@include respond-to(desktop-1440) {
		margin-left: -1 * $desktop-1440-block-gutter;
	}
	@include respond-to(desktop-1600) {
		margin-left: -1 * $desktop-1600-block-gutter;
	}}

.landing-section {
	.landing-page--journal & {
		@extend %defaultGrid;
	}	
}

.landing-section--main {
	padding-bottom: $lh;
	@include respond-to(tablet) {
		padding-bottom: $tablet-lh;
	}
	@include respond-to(desktop) {
		padding-bottom: $desktop-lh;
	}
}

.search-results {
	@extend %defaultGrid;
}

.landing-page {
	transition: height 300ms linear;
}

.search-results-title {
	margin-bottom: $lh * 2;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		margin-bottom: $desktop-lh * 2;
	}
}

.inner__nav {
	@extend %clearfix;
	text-align: right;
	&__item {
		float: right;
		clear: right;
		&--prev {
			float: left;
		}
	}
}