$char-width: 14px;

.container {
	max-width: 1344px;
	margin: 0 auto;
}

.post-preview--featured {
	width: 69.791666666667%;
}

.post-preview--default {
	width: 29.166666666667%;
}

img {
	width: 100%;
	height: auto;
}