.ws { 
	opacity: 0;
}

.website-header {
	font-family: $font--bold;
	nav {
		display: inline-block;
	}
	a {
		text-decoration: none;
	}
	.ind {
		opacity: 0;
	}
	.ind--list {
		opacity: 1;
		&.is-hidden {
			opacity: 0;
		}
	}
}

.menu-link {
	&:hover,
	&.active {
		.ind {
			opacity: 1;
		}
	}
}

.link,
.ind
.ind--list {
	opacity: 1;
	transition: opacity 200ms linear;
	&.is-hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.link--search {
	cursor: pointer;
}

.search {
	display: inline;
}

.search__input {
	@extend %defaultFont;
	font-family: $font--bold;
	appearance: none;
	border: 0px;
	margin: 0;
	padding: 0;
	width: 420px;
	outline: 0;
}