.related-content {
	margin-top: $lh * 3;
	.related-item {
		&--project {
			flex: 0 0 714px;
			.post-preview__image {
				height: 192px;
			}
		}
	}
	@include respond-to(tablet) {
		display: flex;
		flex-wrap: wrap;
		margin-left: $tablet-char-width * -6;
		margin-top: $tablet-lh * 3;
		.related-item {
			&--project {
				flex: 0 0 100%;
				.post-preview__image {
					height: 416px;
				}
			}
		}
	}
	@include respond-to(desktop) {
		margin-left: $desktop-char-width * -4;
		margin-top: $desktop-lh * 3;
		.related-item {
			&--project {
				flex: 0 0 602px;
				.post-preview__image {
					height: 384px;
				}
			}
		}
	}
	@include respond-to(desktop-1280) {
		.related-item {
			&--project {
				flex: 0 0 616px;
			}
		}
	}
	@include respond-to(desktop-1440) {
		margin-left: $desktop-char-width * -6;
	}
}

