.slider {
	position: relative;
	.slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&--main {
		width: 903px;
		@extend %clearfix;
		.slider__slides {
			width: 826px;
			height: 512px;
		}
	}
	&--small {
		width: 392px;
		.slider__slides {
			width: 334px;
			height: 256px;
		}
	}
}
.slider__slides {
	float: left;
	position: relative;
}	
.slider__controls {
	float: right;
	color: blue;
	font-family: $font--bold;
	text-align: center;
}

.slider__counter {
	font-size: 14px;
	margin: 16px 0px;
}

.slider-btn {
	cursor: pointer;
}
