.post-preview {
	margin-bottom: 64px;
	a {
		text-decoration: none;
		color: #000;
		display: block;
		position: relative;
	}
	&__video {
		@extend %bw-filter;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		video {
			display: block;
			width: auto;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			border: none;
			box-shadow: 0 0 0;
		}
		&:before,
		&:after {
			z-index: 2;
		}
	}
	&__image {
		@extend %bw-filter;
	}
	&__content {
		position: relative;
	}
	&__meta {
		font-family: $font--bold;
	}
	&__desc {
		color: $secondaryTextColor;
	}
}


.post-preview__video {
	position: relative;
	cursor: pointer;
	.video-controls {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: blue;
		font-family: $font--bold;
		font-size: 32px;
	}
	.video-state {
    border: 25px solid transparent;
		display: block;
	}
	&.js-videoIsActive {
		&:before,
		&:after {
			background-color: transparent;
		}
		.video-controls {
			opacity: 0;
		}
	}
	&.js-videoIsActive {
		.video-state {
			border: 20px solid red;
		}
		&:hover {
			.video-controls {
				opacity: 1;
			}
		}
	}	
}

.post-preview--featured .post-preview__video {
	.video-state {
    border-left: 40px solid red;
	}
	&.js-videoIsActive {
		.video-state {
			border: 20px solid red;
		}
	}	
}

.post-preview--default .post-preview__video {
	.video-state {
    border-left: 40px solid blue;
	}
	&.js-videoIsActive {
		.video-state {
			border: 20px solid blue;
		}
	}	
}

.post-preview__link {
	&:hover {
		.post-preview__image:after,
		.post-preview__image:before {
			background-color: transparent;
		}
	}
}

.post-preview--default {
	&.post-preview--video {
		flex: 0 0 694px;
		.post-preview__video {
			width: 100%;
			height: 352px;
		}
	}
	.post-preview__title {
		margin: 16px 0 0;
		font-size: 20px;
		line-height: 32px;
		color: blue;
	}
	.post-preview__desc {
		font-size: 14px;
		line-height: 22px;
	}
}

.post-preview--text {
	.post-preview__title {
		margin-top: 0;
	}
}

.post-preview--featured {
	.post-preview__title {
		margin: 0;
		font-size: 48px;
		line-height: 64px;
		color: red;
	}
	.post-preview__content__inner {
		background: #FFF;
		padding: 32px 28px 32px 28px;
	}
	.post-preview__video {
		width: 868px;
		height: 544px;
	}
}

.post-preview--portrait {
	.post-preview__link {
		display: flex;
	}
	.post-preview__title {
		margin: 0 0 10px;
	}	
	.post-preview__image {
		flex: 0 0 266px;
		height: 384px;
	}
	.post-preview__content {
		flex: 0 0 364px;
		padding-left: 14px;
	}	
	&.post-preview--featured {
		.post-preview__image {
			flex: 0 0 448px;
			height: 650px;
		}
		.post-preview__title {
			position: relative;;
		}		
		.post-preview__content {
			margin-top: 64px;
			flex: 0 0 700px;
			margin-left: -70px;
		}
	}
}

.post-preview--landscape {
	&.post-preview--default .post-preview__meta {
		margin-bottom: 16px;
	}
	.post-preview__image {
		height: 256px;
	}
	&.post-preview--featured {
		
		.post-preview__image {
		}
		.post-preview__content {
			width: 826px;
			margin: -96px 0 0 auto;
			position: relative;
			z-index: 2;
		}
	}
}

.post-preview__external-link a {
	color: blue;
}