.post-preview {
	a {
		text-decoration: none;
		color: #000;
		display: block;
		position: relative;
	}
	&__image .preview-image {
		@extend %bw-filter;
	}
	&__content {
		position: relative;
	}
	&__meta {
		font-family: $font--bold;
	}
	&__desc {
		color: $secondaryTextColor;
		max-width: 880px;
	}
}

.post-preview__link {
	&:hover {
		.post-preview__image .preview-image:after,
		.post-preview__image .preview-image:before {
			background-color: transparent;
		}
	}
}

.post-preview__image {
	position: relative;
}

.post-preview--default {
	.post-preview__title {
		@extend %defaultFont;
		color: blue;
	}
	.post-preview__desc {
		@extend %bodyFont;
	}
}

.post-preview--text {
	.post-preview__title {
		margin-top: 0;
	}
}

.post-preview--featured {
	.post-preview__title {
		@extend %featuredFont;
		margin: 0;
		color: red;
	}
	.post-preview__content__inner {
		background: #FFF;
	}
}

.post-preview__external-link a {
	color: blue;
}