.preview-pattern,
.post__image__pattern {
	color: #000 !important;
	z-index: 5;
	opacity: 1;
	transition: opacity 400ms ease-in-out 200ms;
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	&--hidden {
		opacity: 0;
	}
}

.loader {
	background: #FFF;
	position: fixed;
	top: $lh;
	bottom: $lh;
	left: 0;
	width: 100%;
	z-index: 200;
	@include respond-to(tablet) {
		top: $tablet-lh;
		bottom: $tablet-lh;
	}
	@include respond-to(desktop) {
		top: $desktop-lh;
		bottom: $desktop-lh;
	}
}

.pattern--loading {
	@include wrapper;
	background: #FFF;
}