.pattern {
	font-family: $font--bold;
}

.slider--main .pattern {
	height: 512px;
}

.slider--small .pattern {
	height: 254px;
}

.preview-pattern,
.post__image__pattern {
	opacity: 1;
	transition: opacity 400ms ease-in-out 200ms;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&--hidden {
		opacity: 0;
	}
}

.loader {
	background: #FFF;
	position: fixed;
	top: 32px;
	bottom: 32px;
	display: flex;
	align-items: center;
	left: 0;
	width: 100%;
	z-index: 200;
}
.pattern--loading {
	background: #FFF;
	max-width: 1344px;
	margin: 0 auto;
}