
.project__top,
.project__bottom {
	@extend %clearfix;
}

.project__top {
	margin-bottom: $lh;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		margin-bottom: $desktop-lh * 2;
	}
}

.project__media {
	margin-bottom: $lh;
	@include respond-to(tablet) {
		margin-left: $tablet-char-width * 3;
	}
	@include respond-to(desktop) {
		margin-left: $desktop-char-width * 3;
	}
	@include respond-to(desktop-1440) {
		float: left;
	}
}

.project__meta {
	.label {
		font-family: $font--bold;
	}
	@include respond-to(tablet) {
		&__item {
			display: inline-block;
		}

	}
	@include respond-to(desktop-1440) {
		&__item {
			display: block;
		}
		float: right;
		width: 252px;
	}	
}

.project__about {
	p:first-child {
		height: 100%;
	}
	p {
		height: 0;
		overflow: hidden;
		margin: 0;
	}
	&.js-isExpanded {
		p {
			height: 100%;
			margin-bottom: $lh;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	@include respond-to(tablet) {
		&.js-isExpanded {
			p {
				margin-bottom: $tablet-lh;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}	
	@include respond-to(desktop) {
		&.js-isExpanded {
			p {
				margin-bottom: $desktop-lh;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
		width: 686px;
		float: left;
	}
}

.project__drawings {
	width: 100%;
	margin-top: $lh * 2;
	.preview-image {
		@extend %blue-filter;
		background-size: 200%;
	}
	@include respond-to(desktop) {
		float: right;
		width: 392px;
		margin-top: 0;
	}	
}

.toggle-project-about {
	font-family: $font--bold;
	margin-top: $lh/2;
	display: inline-block;
	cursor: pointer;
	@include respond-to(tablet) {
		margin-top: $tablet-lh/2;
	}
	@include respond-to(desktop) {
		margin-top: $desktop-lh/2;
	}
}

.slider--main,
.slider--small {
	position: relative;
	.slider__controls {
		position: absolute;
    right: 0;
    top: 0;
	}
} 
.slider--main {
	width: 100%;
	.slide__image {
		height: 240px;
	}
	.slider__controls {
		top: -24px;
		height: calc(240px + 48px);
		transform: translateX(100%);
		right: 10px;
		.slider__counter,
		.slider-btn--prev {
			position: absolute;
		}
		.slider__counter {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.slider-btn--prev {
			bottom: -24px;
		}
	}
	@include respond-to(tablet) {
		.slider__inner {
			width: calc( 100% - 70px - (12px * 2));
		}
		.slide__image {
			height: 416px;
		}
	}
	@include respond-to(desktop) {
		.slider__inner {
			width: calc(100% - 70px - (14px * 2));
		}
		.slide__image {
			height: 512px;
		}
	}
}

.slider--small {
	.slider__inner {
		width: calc(100% - (10px * 6));
	}
	.slide__image {
		height: 206px;
	}
	.slide .slider__inner-controls {
		width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
		text-align: center;
    color: #000;
	}
	@include respond-to(desktop) {
		.slide__image {
			height: 254px;
		}
	}
}