
.project__top,
.project__bottom {
	@extend %clearfix;
}

.project__top {
	margin-bottom: $lh;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		margin-bottom: $desktop-lh * 2;
	}
}

.project__media {
	margin-bottom: $lh;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
		margin-left: $tablet-char-width * 3;
	}
	@include respond-to(desktop) {
		margin-left: $desktop-char-width * 3;
		margin-bottom: $desktop-lh * 2;
	}
	@include respond-to(desktop-1440) {
		width: 903px;
		float: left;
		margin-bottom: 0;
	}
}

.project__meta {
	.label {
		font-family: $font--bold;
	}
	@include respond-to(tablet) {
		&__item {
			display: inline-block;
			margin-right: $tablet-char-width * 3;
			&:last-child {
				margin: 0;
			}
		}
	}
	@include respond-to(desktop-1440) {
		float: right;
		width: 308px;
		&__item {
			display: block;
			margin: 0;
		}
	}	
}

.project__about {
	p:first-child {
		height: 100%;
	}
	p {
		height: 0;
		overflow: hidden;
		margin: 0;
	}
	&.js-isExpanded {
		p {
			height: 100%;
			margin-bottom: $lh;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	@include respond-to(tablet) {
		&.js-isExpanded {
			p {
				margin-bottom: $tablet-lh;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}	
	@include respond-to(desktop) {
		width: 630px;
		float: left;
		&.js-isExpanded {
			p {
				margin-bottom: $desktop-lh;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include respond-to(desktop-1440) {
		width: 686px;
	}
}

.project__drawings {
	width: 100%;
	margin-top: $lh * 2;
	.preview-image {
		@extend %blue-filter;
		background-size: 200%;
	}
	@include respond-to(tablet) {
		width: 348px;
	}	
	@include respond-to(desktop) {
		float: right;
		width: 278px;
		margin-top: 0;
	}	
	@include respond-to(desktop-1280) {
		width: 392px;
	}	
}

.toggle-project-about {
	font-family: $font--bold;
	margin-top: $lh/2;
	display: inline-block;
	cursor: pointer;
	@include respond-to(tablet) {
		margin-top: $tablet-lh/2;
	}
	@include respond-to(desktop) {
		margin-top: $desktop-lh/2;
	}
}

.slider--main,
.slider--small {
	position: relative;
	.slider__controls {
		position: absolute;
    right: 0;
    top: 0;
	}
} 

.slider--main {
	width: 100%;
	.slide__image {
		height: 192px;
	}
	.slider__controls {
		top: -24px;
    display: flex;
	}
	.slider-btn--next {
		order: 3;
	}
	.slider__counter {
		order: 2;
		margin: 0 20px;
	}
	.slider-btn--prev {
		order: 1
	}
	@include respond-to(tablet) {
		.slider__controls {
			top: 0;
			display: block;
		}
		.slider__counter {
			margin: 0;
		}
		.slider__inner {
			width: calc( 100% - 70px - (12px * 2));
		}
		.slide__image {
			height: 338px;
		}
	}
	@include respond-to(desktop) {
		.slider__inner {
			width: calc(100% - 70px);
		}
		.slide__image {
			height: 480px;
		}
	}
	@include respond-to(desktop-1440) {
		.slide__image {
			height: 512px;
		}
	}
}

.slider--small {
	&.single {
		.slider__inner {
			width: 100%;
		}		
	}
	.slide__image {
		height: 144px;
	}
	.slide .slider__inner-controls {
		width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
		text-align: center;
    color: #000;
	}
	@include respond-to(tablet) {
		.slide__image {
			height: 208px;
		}		
	}	
	@include respond-to(desktop) {
		.slide__image {
			height: 160px;
		}		
	}	
	@include respond-to(desktop-1280) {
		.slider__inner {
			width: calc(100% - (14px * 4));
		}
		.slide__image {
			height: 254px;
		}
	}
}