@mixin respond-to($breakpoint) {
  // Get the query map for $breakpoints map
  $bp: map-get($breakpoints, $breakpoint);
  // If there is no query called $breakpoint in map, throw an error
  // Include the media mixin with $queries
  @media #{$bp} {
    @content;
  }
}


@mixin wrapper() {
  margin: 0 auto;
	width: 100%;
	padding: 0 20px;
  @include respond-to(tablet) {
		padding: 0;
		width: $tablet-max;
	}
	@include respond-to(desktop) {
		width: $desktop-max;
	}
	@include respond-to(desktop-1280) {
		width: $desktop-1280-max;
	}
	@include respond-to(desktop-1440) {
		width: $desktop-1440-max;
	}
	@include respond-to(desktop-1600) {
		width: $desktop-1600-max;
	}
}