$secondaryTextColor: #4A4A4A;

$font: 'ZeitungMonoPro-Reg';
$font--bold: 'ZeitungMonoPro-Bold';

$breakpoints: (
  'small': '(min-width: 520px)',
  'medium': '(min-width: 900px)',
  'large': '(min-width: 1440px)',
  'xlarge': '(min-width: 1600px)',
  'xxlarge': '(min-width: 1920px)',
);