$secondaryTextColor: #4A4A4A;

$font: 'ZeitungMonoPro-Reg';
$font--bold: 'ZeitungMonoPro-Bold';

$breakpoints: (
  'mobile': '(min-width: 320px)',
  'mobile-x2': '(min-width: 375px)',
  'mobile-x3': '(min-width: 414px)',
  'mobile-ls': '(min-width: 480px)',
  'tablet': '(min-width: 768px)',
  'desktop': '(min-width: 1024px)',
  'desktop-1280': '(min-width: 1280px)',
  'desktop-1440': '(min-width: 1440px)',
  'desktop-1600': '(min-width: 1600px)',
  'desktop-1920': '(min-width: 1920px)',
);

// Max content wrapper widths
$mobile-max: 320px;
$mobile-ls-max: 440px;
$tablet-max: 720px;
$desktop-max: 952px;
$desktop-1280-max: 1162px;
$desktop-1440-max: 1344px;
$desktop-1600-max: 1512px;

// Default blocks gutters
$block-gutter: 20px;
$block-gutter-x2: 30px;
$tablet-block-gutter: 72px;
$desktop-block-gutter: 56px;
$desktop-1440-block-gutter: 84px;
$desktop-1600-block-gutter: 98px;

