.project__top:after,
.project__bottom:after {
  content: '';
  display: block;
  clear: both; }

.post-preview__image .preview-image, .project-preview__image--main .preview-image, .project-preview__image--craft .preview-image, .video.post-preview__video {
  position: relative; }
  .post-preview__image .preview-image:before, .project-preview__image--main .preview-image:before, .project-preview__image--craft .preview-image:before, .video.post-preview__video:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    mix-blend-mode: color; }
  .post-preview__image .preview-image:after, .project-preview__image--main .preview-image:after, .project-preview__image--craft .preview-image:after, .video.post-preview__video:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    mix-blend-mode: screen; }

.project-preview__image--drawing .preview-image, .project__drawings .preview-image {
  position: relative; }
  .project-preview__image--drawing .preview-image:before, .project__drawings .preview-image:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    mix-blend-mode: color; }
  .project-preview__image--drawing .preview-image:after, .project__drawings .preview-image:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: blue;
    mix-blend-mode: screen; }

.project-preview__image--diagram .preview-image {
  position: relative; }
  .project-preview__image--diagram .preview-image:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
    mix-blend-mode: lighten; }
  .project-preview__image--diagram .preview-image:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    mix-blend-mode: difference; }

body {
  margin: 0; }

@font-face {
  font-family: "ZeitungMonoPro-Reg";
  src: url(/fonts/ZeitungMonoPro-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/ZeitungMonoPro-Regular.woff2) format("woff2"), url(/fonts/ZeitungMonoPro-Regular.woff) format("woff"), url(/fonts/ZeitungMonoPro-Regular.ttf) format("truetype"), url(/fonts/ZeitungMonoPro-Regular.svg#ZeitungMonoPro-Regular) format("svg"); }

@font-face {
  font-family: "ZeitungMonoPro-Bold";
  src: url(/fonts/ZeitungMonoPro-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/ZeitungMonoPro-Bold.woff2) format("woff2"), url(/fonts/ZeitungMonoPro-Bold.woff) format("woff"), url(/fonts/ZeitungMonoPro-Bold.ttf) format("truetype"), url(/fonts/ZeitungMonoPro-Bold.svg#ZeitungMonoPro-Bold) format("svg"); }

body, h1, h2, h3, h4, h5, .post-preview--default .post-preview__title {
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 768px) {
    body, h1, h2, h3, h4, h5, .post-preview--default .post-preview__title {
      font-size: 16px;
      line-height: 26px; } }
  @media (min-width: 1024px) {
    body, h1, h2, h3, h4, h5, .post-preview--default .post-preview__title {
      font-size: 20px;
      line-height: 32px; } }

.post-preview--default .post-preview__desc {
  font-size: 12px;
  line-height: 18px; }
  @media (min-width: 1024px) {
    .post-preview--default .post-preview__desc {
      font-size: 14px;
      line-height: 22px; } }

.post-preview--featured .post-preview__title {
  font-size: 20px;
  line-height: 32px; }
  @media (min-width: 768px) {
    .post-preview--featured .post-preview__title {
      font-size: 32px;
      line-height: 44px; } }
  @media (min-width: 1440px) {
    .post-preview--featured .post-preview__title {
      font-size: 48px;
      line-height: 64px; } }

body {
  font-family: "ZeitungMonoPro-Reg"; }

a,
strong,
h1, h2, h3, h4, h5,
.website-footer,
.pattern {
  font-family: "ZeitungMonoPro-Bold"; }

p {
  font-family: "ZeitungMonoPro-Reg"; }

.field-body p {
  margin-bottom: 32px; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.main-title {
  margin-bottom: 64px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal; }

p {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  color: #000;
  text-decoration: none; }

.link,
a .title {
  color: blue; }

a .title {
  text-decoration: underline; }

a:hover .title {
  text-decoration: none; }

.main-title {
  max-width: 392px; }

.caption {
  margin-top: 8px;
  font-family: "ZeitungMonoPro-Bold";
  color: #4A4A4A;
  font-size: 14px;
  line-height: 32px; }

body {
  padding-top: 32px; }

.container,
.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  padding: 0 20px 0; }
  @media (min-width: 768px) {
    .container,
    .wrapper {
      padding: 0;
      width: 720px; } }
  @media (min-width: 1024px) {
    .container,
    .wrapper {
      width: 952px; } }
  @media (min-width: 1280px) {
    .container,
    .wrapper {
      width: 1162px; } }
  @media (min-width: 1440px) {
    .container,
    .wrapper {
      width: 1344px; } }
  @media (min-width: 1600px) {
    .container,
    .wrapper {
      width: 1512px; } }
  @media (min-width: 768px) {
    .container,
    .wrapper {
      padding: 0; } }

.website-header {
  position: fixed;
  padding: 24px 0 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #FFF; }
  @media (min-width: 768px) {
    .website-header {
      padding: 26px 0 0; } }
  @media (min-width: 1024px) {
    .website-header {
      padding: 32px 0 0; } }

.main-content {
  padding-top: 120px; }
  @media (min-width: 768px) {
    .main-content {
      padding-top: 130px; } }
  @media (min-width: 1024px) {
    .main-content {
      padding-top: 160px; } }

@media (min-width: 768px) {
  .landing-page--journal .landing-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -80px; } }

@media (min-width: 1024px) {
  .landing-page--journal .landing-section {
    margin-left: -56px; } }

@media (min-width: 1440px) {
  .landing-page--journal .landing-section {
    margin-left: -84px; } }

@media (min-width: 1600px) {
  .landing-section {
    margin-left: -98px; } }

.post-preview {
  margin-bottom: 48px;
  -webkit-transition: -webkit-box-flex 100ms ease-in-out;
  transition: -webkit-box-flex 100ms ease-in-out;
  transition: flex 100ms ease-in-out;
  transition: flex 100ms ease-in-out, -webkit-box-flex 100ms ease-in-out, -ms-flex 100ms ease-in-out; }
  @media (min-width: 768px) {
    .post-preview {
      padding-left: 80px;
      margin-bottom: 52px; } }
  @media (min-width: 1024px) {
    .post-preview {
      padding-left: 56px;
      margin-bottom: 64px; } }
  @media (min-width: 1440px) {
    .post-preview {
      padding-left: 84px; } }
  @media (min-width: 1600px) {
    .post-preview {
      padding-left: 98px; } }

.post-preview--default .post-preview__video {
  padding-top: 60%; }

.post-preview--default .post-preview__title {
  margin: 16px 0 0; }

@media (min-width: 768px) {
  .post-preview--default .post-preview__video {
    padding-top: 0;
    height: 208px;
    background: #000; }
    .post-preview--default .post-preview__video video {
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

@media (min-width: 1024px) {
  .post-preview--default.post-preview--video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 588px;
            flex: 0 0 588px; }
  .post-preview--default .post-preview__video {
    padding-top: 0;
    height: 320px; } }

@media (min-width: 1440px) {
  .post-preview--default.post-preview--video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 714px;
            flex: 0 0 714px; }
  .post-preview--default .post-preview__video {
    height: 352px; } }

@media (min-width: 1600px) {
  .post-preview--default.post-preview--video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 770px;
            flex: 0 0 770px; }
  .post-preview--default .post-preview__video {
    height: 378px; } }

.post-preview--featured {
  margin-left: auto;
  margin-right: auto; }
  .post-preview--featured .post-preview__title {
    margin: 0; }
  .post-preview--featured .post-preview__video {
    margin: 0 -20px;
    height: 192px; }
  .post-preview--featured .post-preview__content {
    margin-top: -36px;
    margin-right: -20px; }
    .post-preview--featured .post-preview__content__inner {
      padding: 12px 10px; }
  @media (min-width: 375px) {
    .post-preview--featured .post-preview__video {
      height: 240px; } }
  @media (min-width: 414px) {
    .post-preview--featured .post-preview__video {
      padding-top: 54.669703872437%;
      height: 0; } }
  @media (min-width: 768px) {
    .post-preview--featured .post-preview__video {
      margin: 0 auto;
      padding: 0;
      height: 312px; }
    .post-preview--featured .post-preview__content {
      margin-top: -39px;
      margin-right: -60px;
      margin-left: 60px; }
      .post-preview--featured .post-preview__content__inner {
        padding: 13px 12px; } }
  @media (min-width: 1024px) {
    .post-preview--featured .post-preview__video {
      width: 868px;
      height: 512px; }
    .post-preview--featured .post-preview__content {
      margin-top: -48px;
      margin-right: -70px;
      margin-left: 70px; }
      .post-preview--featured .post-preview__content__inner {
        padding: 16px 14px; } }
  @media (min-width: 1440px) {
    .post-preview--featured .post-preview__video {
      width: 868px;
      height: 544px; } }

.post-preview--landscape .post-preview__image,
.post-preview--text .post-preview__image {
  padding-top: 60%;
  position: relative; }
  .post-preview--landscape .post-preview__image .preview-image,
  .post-preview--text .post-preview__image .preview-image {
    position: absolute;
    top: 0;
    left: 0; }

@media (min-width: 768px) {
  .post-preview--landscape,
  .post-preview--text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 392px;
            flex: 0 0 392px; }
    .post-preview--landscape .post-preview__image,
    .post-preview--text .post-preview__image {
      height: 208px;
      padding-top: 0; }
      .post-preview--landscape .post-preview__image .preview-image,
      .post-preview--text .post-preview__image .preview-image {
        position: static; } }

@media (min-width: 1024px) {
  .post-preview--landscape,
  .post-preview--text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 406px;
            flex: 0 0 406px; }
    .post-preview--landscape .post-preview__image,
    .post-preview--text .post-preview__image {
      height: 224px; } }

@media (min-width: 1440px) {
  .post-preview--landscape,
  .post-preview--text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 476px;
            flex: 0 0 476px; }
    .post-preview--landscape .post-preview__image,
    .post-preview--text .post-preview__image {
      height: 256px; } }

@media (min-width: 1600px) {
  .post-preview--landscape,
  .post-preview--text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 490px;
            flex: 0 0 490px; } }

.post-preview--portrait .post-preview__title {
  margin: 0 0 10px; }

@media (min-width: 1024px) {
  .post-preview--portrait .post-preview__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.post-preview--default.post-preview--portrait .post-preview__image {
  height: 360px; }

.post-preview--default.post-preview--portrait .post-preview__meta--bottom {
  display: none; }

.post-preview--default.post-preview--portrait .post-preview__meta--top {
  margin-bottom: 12px; }
  @media (min-width: 768px) {
    .post-preview--default.post-preview--portrait .post-preview__meta--top {
      margin-bottom: 13px; } }
  @media (min-width: 1024px) {
    .post-preview--default.post-preview--portrait .post-preview__meta--top {
      margin-bottom: 16px; } }

@media (min-width: 375px) {
  .post-preview--default.post-preview--portrait .post-preview__image {
    height: 456px; } }

@media (min-width: 768px) {
  .post-preview--default.post-preview--portrait {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 368px;
            flex: 0 0 368px; }
    .post-preview--default.post-preview--portrait .post-preview__image {
      height: 286px;
      width: 210px; } }

@media (min-width: 1024px) {
  .post-preview--default.post-preview--portrait {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 602px;
            flex: 0 0 602px; }
    .post-preview--default.post-preview--portrait .post-preview__meta--bottom {
      display: block; }
    .post-preview--default.post-preview--portrait .post-preview__meta--top {
      display: none; }
    .post-preview--default.post-preview--portrait .post-preview__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 210px;
              flex: 0 0 210px;
      height: 320px;
      width: 100%; }
    .post-preview--default.post-preview--portrait .post-preview__content {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 364px;
              flex: 0 0 364px;
      padding-left: 14px; } }

@media (min-width: 1440px) {
  .post-preview--default.post-preview--portrait {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 714px;
            flex: 0 0 714px; }
    .post-preview--default.post-preview--portrait .post-preview__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 266px;
              flex: 0 0 266px;
      height: 384px; }
    .post-preview--default.post-preview--portrait .post-preview__content {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 364px;
              flex: 0 0 364px;
      padding-left: 14px; } }

@media (min-width: 1600px) {
  .post-preview--default.post-preview--portrait {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 728px;
            flex: 0 0 728px; } }

.post-preview--featured.post-preview--portrait {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  .post-preview--featured.post-preview--portrait .post-preview__title {
    position: relative; }
  .post-preview--featured.post-preview--portrait .post-preview__image {
    padding-top: 150%;
    margin: 0 -20px; }
    .post-preview--featured.post-preview--portrait .post-preview__image .preview-image {
      position: absolute;
      top: 0;
      left: 0; }
  @media (min-width: 768px) {
    .post-preview--featured.post-preview--portrait .post-preview__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .post-preview--featured.post-preview--portrait .post-preview__content {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 420px;
              flex: 0 0 420px;
      margin-top: 64px;
      margin-left: -70px; }
      .post-preview--featured.post-preview--portrait .post-preview__content__inner {
        padding: 13px 0 13px 12px; }
    .post-preview--featured.post-preview--portrait .post-preview__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 360px;
              flex: 0 0 360px;
      height: 546px;
      margin: 0;
      padding-top: 0; }
      .post-preview--featured.post-preview--portrait .post-preview__image .preview-image {
        position: static; } }
  @media (min-width: 1024px) {
    .post-preview--featured.post-preview--portrait {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 756px;
              flex: 0 0 756px; } }
  @media (min-width: 1440px) {
    .post-preview--featured.post-preview--portrait {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 1162px;
              flex: 0 0 1162px; }
      .post-preview--featured.post-preview--portrait .post-preview__content {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 700px;
                flex: 0 0 700px;
        margin-top: 64px;
        margin-left: -70px; }
        .post-preview--featured.post-preview--portrait .post-preview__content__inner {
          padding: 16px 0 16px 14px; }
      .post-preview--featured.post-preview--portrait .post-preview__image {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 448px;
                flex: 0 0 448px;
        height: 640px; } }
  @media (min-width: 1600px) {
    .post-preview--featured.post-preview--portrait {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 1176px;
              flex: 0 0 1176px; } }

.post-preview--default.post-preview--landscape .post-preview__meta {
  margin-bottom: 12px; }

@media (min-width: 768px) {
  .post-preview--default.post-preview--landscape .post-preview__meta {
    margin-bottom: 13px; } }

@media (min-width: 1024px) {
  .post-preview--default.post-preview--landscape .post-preview__meta {
    margin-bottom: 16px; } }

.post-preview--featured.post-preview--landscape .post-preview__content {
  position: relative;
  z-index: 2; }

@media (min-width: 768px) {
  .post-preview--featured.post-preview--landscape {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 596px;
            flex: 0 0 596px; } }

@media (min-width: 1024px) {
  .post-preview--featured.post-preview--landscape {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 840px;
            flex: 0 0 840px; } }

@media (min-width: 1440px) {
  .post-preview--featured.post-preview--landscape {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 952px;
            flex: 0 0 952px; }
    .post-preview--featured.post-preview--landscape .post-preview__content {
      width: 826px;
      margin: -96px 0 0 auto; } }

@media (min-width: 1600px) {
  .post-preview--featured.post-preview--landscape {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 966px;
            flex: 0 0 966px; } }

img {
  width: 100%;
  height: auto; }

.website-footer {
  margin-top: 96px;
  padding-bottom: 32px; }

.js-gallery-isActive {
  height: 100%;
  overflow: hidden; }
  .js-gallery-isActive main,
  .js-gallery-isActive .website-footer,
  .js-gallery-isActive .website-header {
    opacity: 0.025; }

.ws {
  opacity: 0; }

nav {
  font-family: "ZeitungMonoPro-Bold"; }
  nav a {
    text-decoration: none; }
  nav .ind {
    opacity: 0; }

.menu-link:hover .ind, .menu-link.active .ind {
  opacity: 1; }

.link--search {
  cursor: pointer; }

.search {
  display: inline; }

.search__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 32px;
  font-family: "ZeitungMonoPro-Bold";
  width: 420px;
  outline: 0; }

.post-preview a {
  text-decoration: none;
  color: #000;
  display: block;
  position: relative; }

.post-preview__content {
  position: relative; }

.post-preview__meta {
  font-family: "ZeitungMonoPro-Bold"; }

.post-preview__desc {
  color: #4A4A4A; }

.post-preview__link:hover .post-preview__image .preview-image:after,
.post-preview__link:hover .post-preview__image .preview-image:before {
  background-color: transparent; }

.post-preview__image {
  position: relative; }

.post-preview--default .post-preview__title {
  color: blue; }

.post-preview--text .post-preview__title {
  margin-top: 0; }

.post-preview--featured .post-preview__title {
  margin: 0;
  color: red; }

.post-preview--featured .post-preview__content__inner {
  background: #FFF; }

.post-preview__external-link a {
  color: blue; }

.project-preview {
  margin-bottom: 96px; }

.project-preview__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px; }
  .project-preview__thumbs__left-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1022px;
            flex: 0 0 1022px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .project-preview__thumbs__left-col .project-preview__image--main {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 700px;
              flex: 0 0 700px; }
    .project-preview__thumbs__left-col .project-preview__image--drawing {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 322px;
              flex: 0 0 322px; }
  .project-preview__thumbs__right-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 322px;
            flex: 0 0 322px; }

.project-preview__thumbs--landscape .project-preview__thumbs__left-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px; }

.project-preview__thumbs--landscape .project-preview__thumbs__right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 644px;
          flex: 0 0 644px; }

.project-preview__image {
  position: relative; }
  .project-preview__image--main, .project-preview__image--drawing {
    height: 448px; }
  .project-preview__image--craft, .project-preview__image--diagram {
    height: 224px; }

.project-preview__thumbs--landscape .project-preview__image--drawing {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 224px; }

.project-preview__thumbs--landscape .project-preview__image--craft, .project-preview__thumbs--landscape .project-preview__image--diagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.project-preview__image--craft .preview-image {
  opacity: 0.5; }

.project__top {
  margin-bottom: 64px; }

.project__media {
  float: left;
  margin-left: 48px; }

.project__meta {
  float: right;
  width: 252px; }
  .project__meta .label {
    font-family: "ZeitungMonoPro-Bold"; }

.project__about {
  width: 686px;
  float: left; }
  .project__about p:first-child {
    height: 100%; }
  .project__about p {
    height: 0;
    overflow: hidden;
    margin: 0; }
  .project__about.js-isExpanded p {
    height: 100%;
    margin-bottom: 32px; }
  .project__about.js-isExpanded p:last-child {
    margin-bottom: 0; }

.project__drawings {
  width: 392px;
  float: right; }
  .project__drawings .preview-image {
    background-size: 200%; }

.toggle-project-about {
  font-family: "ZeitungMonoPro-Bold";
  margin-top: 16px;
  display: inline-block;
  cursor: pointer; }

.post__title {
  margin: 0;
  max-width: 392px; }

.post__meta {
  display: inline;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 28px; }
  .post__meta__item,
  .post__meta .label {
    display: inline; }
  .post__meta .label {
    font-family: "ZeitungMonoPro-Bold"; }

.post__authors__list__item__link {
  text-decoration: underline; }

.post__content {
  width: 882px;
  margin: 68px 0 0 128px; }

.post__media {
  margin-bottom: 64px;
  position: relative; }
  .post__media .slider__slides {
    float: none; }
  .post__media .slide__image {
    height: 576px; }
  .post__media .slider__controls {
    position: absolute;
    right: -28px;
    top: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  .post__media__image {
    overflow: hidden; }
  .post__media__video-wrapper {
    height: 480px; }
  .post__media .video {
    height: 100%;
    width: 100%; }
    .post__media .video video {
      width: 100%;
      height: auto; }

.post__media__caption {
  margin-top: 8px;
  color: #4A4A4A;
  font-family: "ZeitungMonoPro-Bold";
  font-size: 14px;
  line-height: 32px; }

.field-body p:last-child {
  margin-bottom: 0; }

.field-body + .post__media,
.field-body + .subtitle {
  margin-top: 64px; }

.subtitle {
  margin-bottom: 64px;
  margin-left: -128px;
  max-width: 392px; }

.post__external-link {
  width: 882px;
  margin: 68px 0 0 128px; }
  .post__external-link a {
    color: blue; }

.related-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -84px;
  margin-top: 96px; }
  .related-content .related-item--project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 714px;
            flex: 0 0 714px; }
    .related-content .related-item--project .post-preview__image {
      height: 416px; }

.slider__inner {
  overflow: hidden; }

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear; }

.slider .slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.slider__controls {
  float: right;
  color: blue;
  font-family: "ZeitungMonoPro-Bold";
  text-align: center; }
  .slider__controls__item {
    margin-bottom: 16px; }

.slider__counter {
  font-size: 14px;
  color: #000; }

.slider-btn {
  cursor: pointer; }

.slider .slide {
  position: relative; }

.slide .slider__inner-controls {
  cursor: pointer;
  display: block;
  color: blue;
  font-family: "ZeitungMonoPro-Bold";
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  z-index: 10; }
  .slide .slider__inner-controls .video-controls__item {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px; }

.slide:hover .slider__inner-controls {
  opacity: 1; }

.post__media .slide--video .slider__inner-controls {
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
  height: 68px; }

.post__media .slide--video .video-btn {
  position: relative; }
  .post__media .slide--video .video-btn:before {
    content: '';
    display: inline-block; }

.post__media .slide--video.js-videoIsPaused .slider__inner-controls {
  width: 80px;
  opacity: 1;
  overflow: hidden;
  -webkit-transform: translate(-30%, -60%);
          transform: translate(-30%, -60%); }

.post__media .slide--video.js-videoIsPaused .open-gallery {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden; }

.post__media .slide--video.js-videoIsPaused .video-btn {
  margin-left: 0; }
  .post__media .slide--video.js-videoIsPaused .video-btn:before {
    border: 25px solid transparent;
    border-left: 40px solid blue;
    top: 1px;
    position: relative;
    margin-right: 5px; }

.post__media .slide--video.js-videoIsPaused .video-btn__txt {
  display: none; }

.post__media .slide--video.js-videoIsPaused:hover .slider__inner-controls {
  width: 250px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.post__media .slide--video.js-videoIsPaused:hover .video-btn {
  margin-left: 14px; }
  .post__media .slide--video.js-videoIsPaused:hover .video-btn:before {
    border: 7px solid transparent;
    border-left: 12px solid blue; }

.post__media .slide--video.js-videoIsPaused:hover .video-btn__txt {
  display: inline-block; }

.post__media .slide--video.js-videoIsPaused:hover .open-gallery {
  width: 156px;
  height: 64px;
  overflow: visible;
  opacity: 1; }

.post__media .slide--video.js-videoIsActive .slider__inner-controls {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.post__media .slide--video.js-videoIsActive .video-btn:before {
  border: 5px solid blue;
  margin-right: 10px;
  margin-left: 14px; }

.slider--main,
.slider--small {
  position: relative; }
  .slider--main .slider__controls,
  .slider--small .slider__controls {
    position: absolute;
    right: 0;
    top: 0; }

.slider--main {
  width: 903px; }
  .slider--main .slider__inner {
    width: 826px; }
  .slider--main .slide__image {
    height: 512px; }

.slider--small .slider__inner {
  width: 334px; }

.slider--small .slide__image {
  height: 254px; }

.slider--small .slide .slider__inner-controls {
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #000; }

.gallery {
  position: fixed;
  top: 32px;
  bottom: 32px;
  width: 1344px;
  overflow: scroll;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .gallery .slider__controls {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 56px; }
  .gallery .slider__counter {
    font-size: 20px; }
  .gallery .slider__controls__bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .gallery .video__wrapper {
    position: relative;
    padding-top: 56.25%; }
  .gallery .caption {
    position: absolute;
    left: 0;
    bottom: -3px;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
    color: #000; }

.gallery__inner {
  width: calc(100% - 70px);
  overflow: hidden;
  height: 100%; }
  .gallery__inner--single {
    width: 100%; }

.gallery__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  height: 100%; }

.gallery__slide {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 100%;
  text-align: center; }
  .gallery__slide--portrait img {
    margin: 0 auto; }

.gallery__slide__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.preview-image {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out; }
  .preview-image--loading {
    opacity: 0; }

.video {
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .video video {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .video .video-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    color: blue;
    font-family: "ZeitungMonoPro-Bold";
    font-size: 32px; }
  .video .video-state {
    border: 25px solid transparent;
    border-left: 40px solid blue;
    display: block;
    -webkit-transition: border linear 200ms;
    transition: border linear 200ms; }
  .video.js-videoIsActive:before, .video.js-videoIsActive:after {
    background-color: transparent; }
  .video.js-videoIsActive .video-controls {
    opacity: 0; }
  .video.js-videoIsActive .video-state {
    border: 20px solid blue; }
  .video.js-videoIsActive:hover .video-controls {
    opacity: 1; }
  .video.post-preview__video:before, .video.post-preview__video:after {
    z-index: 2; }
  .video.post-preview__video .video-controls {
    position: absolute;
    top: 45%; }

.post-preview--featured .post-preview__video .video-state {
  border: 20px solid transparent;
  border-left: 30px solid red; }

.post-preview--featured .post-preview__video.js-videoIsActive .video-state {
  border: 15px solid red; }

@media (min-width: 768px) {
  .post-preview--featured .post-preview__video .video-state {
    border: 25px solid transparent;
    border-left: 40px solid red; }
  .post-preview--featured .post-preview__video.js-videoIsActive .video-state {
    border: 20px solid red; } }

.slider .video {
  cursor: default;
  position: relative;
  background-color: #000;
  height: 576px;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out; }
  .slider .video video {
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out; }
  .slider .video--loading {
    background-color: transparent; }
    .slider .video--loading video {
      opacity: 0; }
    .slider .video--loading .video-btn {
      display: none; }

.slider--main .pattern {
  height: 512px; }

.slider--small .pattern {
  height: 254px; }

.preview-pattern,
.post__image__pattern {
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in-out 200ms;
  transition: opacity 400ms ease-in-out 200ms;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%; }
  .preview-pattern--hidden,
  .post__image__pattern--hidden {
    opacity: 0; }

.loader {
  background: #FFF;
  position: fixed;
  top: 32px;
  bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 100%;
  z-index: 200; }

.pattern--loading {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  background: #FFF; }
  @media (min-width: 768px) {
    .pattern--loading {
      padding: 0;
      width: 720px; } }
  @media (min-width: 1024px) {
    .pattern--loading {
      width: 952px; } }
  @media (min-width: 1280px) {
    .pattern--loading {
      width: 1162px; } }
  @media (min-width: 1440px) {
    .pattern--loading {
      width: 1344px; } }
  @media (min-width: 1600px) {
    .pattern--loading {
      width: 1512px; } }
