.project__top:after,
.project__bottom:after {
  content: '';
  display: block;
  clear: both; }

.post-preview__image, .project-preview__image--main, .project-preview__image--craft, .video.post-preview__video {
  position: relative; }
  .post-preview__image:before, .project-preview__image--main:before, .project-preview__image--craft:before, .video.post-preview__video:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    mix-blend-mode: color; }
  .post-preview__image:after, .project-preview__image--main:after, .project-preview__image--craft:after, .video.post-preview__video:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    mix-blend-mode: screen; }

.project-preview__image--drawing, .project__drawings .preview-image {
  position: relative; }
  .project-preview__image--drawing:before, .project__drawings .preview-image:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    mix-blend-mode: color; }
  .project-preview__image--drawing:after, .project__drawings .preview-image:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: blue;
    mix-blend-mode: screen; }

.project-preview__image--diagram {
  position: relative; }
  .project-preview__image--diagram:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
    mix-blend-mode: lighten; }
  .project-preview__image--diagram:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    mix-blend-mode: difference; }

body {
  margin: 0; }

@font-face {
  font-family: "ZeitungMonoPro-Reg";
  src: url(/fonts/ZeitungMonoPro-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/ZeitungMonoPro-Regular.woff2) format("woff2"), url(/fonts/ZeitungMonoPro-Regular.woff) format("woff"), url(/fonts/ZeitungMonoPro-Regular.ttf) format("truetype"), url(/fonts/ZeitungMonoPro-Regular.svg#ZeitungMonoPro-Regular) format("svg"); }

@font-face {
  font-family: "ZeitungMonoPro-Bold";
  src: url(/fonts/ZeitungMonoPro-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/ZeitungMonoPro-Bold.woff2) format("woff2"), url(/fonts/ZeitungMonoPro-Bold.woff) format("woff"), url(/fonts/ZeitungMonoPro-Bold.ttf) format("truetype"), url(/fonts/ZeitungMonoPro-Bold.svg#ZeitungMonoPro-Bold) format("svg"); }

body {
  font-family: "ZeitungMonoPro-Reg";
  font-size: 20px;
  line-height: 32px; }

a,
strong {
  font-family: "ZeitungMonoPro-Bold"; }

p {
  font-family: "ZeitungMonoPro-Reg"; }

.field-body p {
  margin-bottom: 32px; }

h1, h2, h3, h4, h5 {
  font-family: "ZeitungMonoPro-Bold";
  font-size: 20px;
  line-height: 32px;
  margin: 0; }

.main-title {
  margin-bottom: 64px; }

.website-footer {
  font-family: "ZeitungMonoPro-Bold"; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal; }

p {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  color: #000;
  text-decoration: none; }

.link,
a .title {
  color: blue; }

a .title {
  text-decoration: underline; }

a:hover .title {
  text-decoration: none; }

.main-title {
  max-width: 392px; }

.caption {
  margin-top: 8px;
  color: #4A4A4A;
  font-family: "ZeitungMonoPro-Bold";
  font-size: 14px;
  line-height: 32px; }

body {
  padding-top: 32px; }

.container,
.wrapper {
  padding: 0 48px 0;
  margin: 0 auto;
  width: 1440px; }

.website-header {
  position: fixed;
  padding: 32px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #FFF; }

.main-content {
  padding-top: 160px; }

.landing-page--journal .landing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -84px; }

.post-preview {
  padding-left: 84px; }

.post-preview--featured {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1162px;
          flex: 0 0 1162px;
  margin: 0 auto 64px;
  clear: both; }
  .post-preview--featured.post-preview--landscape {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1067px;
            flex: 0 0 1067px; }

.post-preview--default {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 476px;
          flex: 0 0 476px; }
  .post-preview--default.post-preview--portrait {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 714px;
            flex: 0 0 714px; }

img {
  width: 100%;
  height: auto; }

.website-footer {
  margin-top: 96px;
  padding-bottom: 32px; }

.js-gallery-isActive {
  height: 100%;
  overflow: hidden; }
  .js-gallery-isActive main {
    opacity: 0; }

.ws {
  opacity: 0; }

nav {
  font-family: "ZeitungMonoPro-Bold"; }
  nav a {
    text-decoration: none; }
  nav .ind {
    opacity: 0; }

.menu-link:hover .ind, .menu-link.active .ind {
  opacity: 1; }

.post-preview {
  margin-bottom: 64px; }
  .post-preview a {
    text-decoration: none;
    color: #000;
    display: block;
    position: relative; }
  .post-preview__content {
    position: relative; }
  .post-preview__meta {
    font-family: "ZeitungMonoPro-Bold"; }
  .post-preview__desc {
    color: #4A4A4A; }

.post-preview__link:hover .post-preview__image:after,
.post-preview__link:hover .post-preview__image:before {
  background-color: transparent; }

.post-preview--default.post-preview--video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 694px;
          flex: 0 0 694px; }
  .post-preview--default.post-preview--video .post-preview__video {
    width: 100%;
    height: 352px; }

.post-preview--default .post-preview__title {
  margin: 16px 0 0;
  font-size: 20px;
  line-height: 32px;
  color: blue; }

.post-preview--default .post-preview__desc {
  font-size: 14px;
  line-height: 22px; }

.post-preview--text .post-preview__title {
  margin-top: 0; }

.post-preview--featured .post-preview__title {
  margin: 0;
  font-size: 48px;
  line-height: 64px;
  color: red; }

.post-preview--featured .post-preview__content__inner {
  background: #FFF;
  padding: 32px 28px 32px 28px; }

.post-preview--featured .post-preview__video {
  width: 868px;
  height: 544px; }

.post-preview--portrait .post-preview__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.post-preview--portrait .post-preview__title {
  margin: 0 0 10px; }

.post-preview--portrait .post-preview__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 266px;
          flex: 0 0 266px;
  height: 384px; }

.post-preview--portrait .post-preview__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 364px;
          flex: 0 0 364px;
  padding-left: 14px; }

.post-preview--portrait.post-preview--featured .post-preview__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 448px;
          flex: 0 0 448px;
  height: 650px; }

.post-preview--portrait.post-preview--featured .post-preview__title {
  position: relative; }

.post-preview--portrait.post-preview--featured .post-preview__content {
  margin-top: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px;
  margin-left: -70px; }

.post-preview--landscape.post-preview--default .post-preview__meta {
  margin-bottom: 16px; }

.post-preview--landscape .post-preview__image {
  height: 256px; }

.post-preview--landscape.post-preview--featured .post-preview__content {
  width: 826px;
  margin: -96px 0 0 auto;
  position: relative;
  z-index: 2; }

.post-preview__external-link a {
  color: blue; }

.project-preview {
  margin-bottom: 96px; }

.project-preview__thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px; }
  .project-preview__thumbs__left-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1022px;
            flex: 0 0 1022px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .project-preview__thumbs__left-col .project-preview__image--main {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 700px;
              flex: 0 0 700px; }
    .project-preview__thumbs__left-col .project-preview__image--drawing {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 322px;
              flex: 0 0 322px; }
  .project-preview__thumbs__right-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 322px;
            flex: 0 0 322px; }

.project-preview__thumbs--landscape .project-preview__thumbs__left-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px; }

.project-preview__thumbs--landscape .project-preview__thumbs__right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 644px;
          flex: 0 0 644px; }

.project-preview__image--main, .project-preview__image--drawing {
  height: 416px; }

.project-preview__image--craft, .project-preview__image--diagram {
  height: 208px; }

.project-preview__thumbs--landscape .project-preview__image--drawing {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 208px; }

.project-preview__thumbs--landscape .project-preview__image--craft, .project-preview__thumbs--landscape .project-preview__image--diagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.project-preview__image--craft {
  opacity: 0.5; }

.project__top {
  margin-bottom: 64px; }

.project__media {
  float: left;
  margin-left: 48px; }

.project__meta {
  float: right;
  width: 252px; }
  .project__meta .label {
    font-family: "ZeitungMonoPro-Bold"; }

.project__about {
  width: 686px;
  float: left; }
  .project__about p:first-child {
    height: 100%; }
  .project__about p {
    height: 0;
    overflow: hidden;
    margin: 0; }
  .project__about.js-isExpanded p {
    height: 100%;
    margin-bottom: 32px; }
  .project__about.js-isExpanded p:last-child {
    margin-bottom: 0; }

.project__drawings {
  width: 392px;
  float: right; }
  .project__drawings .preview-image {
    background-size: 200%; }

.toggle-project-about {
  font-family: "ZeitungMonoPro-Bold";
  margin-top: 16px;
  display: inline-block;
  cursor: pointer; }

.post__title {
  margin: 0;
  max-width: 392px; }

.post__meta {
  display: inline;
  color: #4A4A4A;
  font-size: 12px;
  line-height: 28px; }
  .post__meta__item,
  .post__meta .label {
    display: inline; }
  .post__meta .label {
    font-family: "ZeitungMonoPro-Bold"; }

.post__authors__list__item__link {
  text-decoration: underline; }

.post__content {
  width: 882px;
  margin: 68px 0 0 128px; }

.post__media {
  margin-bottom: 64px;
  position: relative; }
  .post__media .slider__slides {
    float: none; }
  .post__media .slide__image {
    height: 576px; }
  .post__media .slider__controls {
    position: absolute;
    right: -28px;
    top: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }

.post__media__caption {
  margin-top: 8px;
  color: #4A4A4A;
  font-family: "ZeitungMonoPro-Bold";
  font-size: 14px;
  line-height: 32px; }

.field-body p:last-child {
  margin-bottom: 0; }

.field-body + .post__media,
.field-body + .subtitle {
  margin-top: 64px; }

.subtitle {
  margin-bottom: 64px;
  margin-left: -128px;
  max-width: 392px; }

.post__external-link {
  width: 882px;
  margin: 68px 0 0 128px; }
  .post__external-link a {
    color: blue; }

.related-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -84px;
  margin-top: 96px; }
  .related-content .related-item--project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 714px;
            flex: 0 0 714px; }
    .related-content .related-item--project .post-preview__image {
      height: 416px; }

.slider__inner {
  overflow: hidden; }

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear; }

.slider .slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.slider__controls {
  float: right;
  color: blue;
  font-family: "ZeitungMonoPro-Bold";
  text-align: center; }
  .slider__controls__item {
    margin-bottom: 16px; }

.slider__counter {
  font-size: 14px;
  color: #000; }

.slider-btn {
  cursor: pointer; }

.slider .slide {
  position: relative; }

.slide .slider__inner-controls {
  cursor: pointer;
  display: block;
  color: blue;
  font-family: "ZeitungMonoPro-Bold";
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  z-index: 10; }
  .slide .slider__inner-controls .video-controls__item {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px; }

.slide:hover .slider__inner-controls {
  opacity: 1; }

.slider--main,
.slider--small {
  position: relative; }
  .slider--main .slider__controls,
  .slider--small .slider__controls {
    position: absolute;
    right: 0;
    top: 0; }

.slider--main {
  width: 903px; }
  .slider--main .slider__inner {
    width: 826px; }
  .slider--main .slide__image {
    height: 512px; }

.slider--small .slider__inner {
  width: 334px; }

.slider--small .slide__image {
  height: 254px; }

.slider--small .slide .slider__inner-controls {
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #000; }

.gallery {
  position: fixed;
  top: 32px;
  max-height: calc(100% - 32px);
  width: 1344px;
  overflow: scroll;
  z-index: 200;
  background: #FFF;
  height: calc(100% - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px; }
  .gallery .slider__controls {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 56px; }
  .gallery .slider__counter {
    font-size: 20px; }
  .gallery .slider__controls__bottom {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .gallery .video {
    padding-top: 56.25%; }
  .gallery .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
    text-align: left;
    line-height: 32px;
    color: #000; }

.gallery__inner {
  width: calc(100% - 98px); }

.gallery__slide {
  text-align: center; }
  .gallery__slide--portrait img {
    margin: 0 auto; }

.gallery__slide__media {
  position: relative;
  display: inline-block; }

.preview-image {
  position: relative;
  background-size: cover;
  background-position: center; }

.video {
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .video video {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .video .video-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    color: blue;
    font-family: "ZeitungMonoPro-Bold";
    font-size: 32px; }
  .video .video-state {
    border: 25px solid transparent;
    border-left: 40px solid blue;
    display: block;
    -webkit-transition: border linear 200ms;
    transition: border linear 200ms; }
  .video.js-videoIsActive:before, .video.js-videoIsActive:after {
    background-color: transparent; }
  .video.js-videoIsActive .video-controls {
    opacity: 0; }
  .video.js-videoIsActive .video-state {
    border: 20px solid blue; }
  .video.js-videoIsActive:hover .video-controls {
    opacity: 1; }
  .video.post-preview__video {
    margin: 0 auto; }
    .video.post-preview__video:before, .video.post-preview__video:after {
      z-index: 2; }
    .video.post-preview__video .video-controls {
      position: absolute;
      top: 45%; }

.post-preview--featured .post-preview__video .video-state {
  border-left: 40px solid red; }

.post-preview--featured .post-preview__video.js-videoIsActive .video-state {
  border: 20px solid red; }

.video-btn {
  position: relative; }
  .video-btn:before {
    content: '';
    display: inline-block; }
  .js-videoIsPaused .video-btn:before {
    border: 7px solid transparent;
    border-left: 12px solid blue;
    top: 1px;
    position: relative;
    margin-right: 5px; }
  .js-videoIsActive .video-btn:before {
    margin-right: 10px;
    border: 5px solid blue; }

.slider .video {
  cursor: default;
  position: relative;
  background: #000;
  height: 576px; }
  .slider .video .video-btn {
    margin-left: 14px; }
  .slider .video video {
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .slider .video:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-right: 5px;
    border: 25px solid transparent;
    border-left: 40px solid blue; }
