body {
  margin: 0; }

@font-face {
  font-family: "ZeitungMonoPro-Reg";
  src: url(/fonts/ZeitungMonoPro-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/ZeitungMonoPro-Regular.woff2) format("woff2"), url(/fonts/ZeitungMonoPro-Regular.woff) format("woff"), url(/fonts/ZeitungMonoPro-Regular.ttf) format("truetype"), url(/fonts/ZeitungMonoPro-Regular.svg#ZeitungMonoPro-Regular) format("svg"); }

@font-face {
  font-family: "ZeitungMonoPro-Bold";
  src: url(/fonts/ZeitungMonoPro-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/ZeitungMonoPro-Bold.woff2) format("woff2"), url(/fonts/ZeitungMonoPro-Bold.woff) format("woff"), url(/fonts/ZeitungMonoPro-Bold.ttf) format("truetype"), url(/fonts/ZeitungMonoPro-Bold.svg#ZeitungMonoPro-Bold) format("svg"); }

body {
  font-family: "ZeitungMonoPro-Reg";
  font-size: 20px;
  line-height: 32px; }

a {
  font-family: "ZeitungMonoPro-Bold";
  color: blue; }

p {
  font-family: "ZeitungMonoPro-Reg"; }

h1, h2, h3, h4, h5 {
  font-family: "ZeitungMonoPro-Bold"; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

p {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

body {
  padding-top: 32px; }

.container,
.wrapper {
  padding: 0 48px 0;
  margin: 0 auto; }

.website-header {
  position: fixed;
  padding: 32px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #FFF; }

.main-content {
  padding-top: 128px; }

.landing-section {
  margin-left: -84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.post-preview {
  padding-left: 84px; }

.post-preview--featured {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1162px;
          flex: 0 0 1162px;
  margin: 0 auto 64px;
  clear: both; }

.post-preview--default {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 476px;
          flex: 0 0 476px; }
  .post-preview--default.post-preview--portrait {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 714px;
            flex: 0 0 714px; }

img {
  width: 100%;
  height: auto; }

.ws {
  opacity: 0; }

nav {
  font-family: "ZeitungMonoPro-Bold"; }
  nav a {
    text-decoration: none; }
  nav .ind {
    opacity: 0; }

.menu-link:hover .ind {
  opacity: 1; }

.post-preview {
  margin-bottom: 64px; }
  .post-preview a {
    text-decoration: none;
    color: #000;
    display: block;
    position: relative; }
    .post-preview a .post-preview__title {
      text-decoration: underline; }
  .post-preview__image {
    position: relative;
    background-size: cover;
    background-position: center; }
    .post-preview__image:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: #FFF;
      mix-blend-mode: color; }
  .post-preview__content {
    position: relative; }
  .post-preview__meta {
    font-family: "ZeitungMonoPro-Bold"; }
  .post-preview__desc {
    color: #4A4A4A; }

.post-preview__link:hover .post-preview__image:after {
  background-color: transparent; }

.post-preview__link:hover .post-preview__title {
  color: #000; }

.post-preview--default .post-preview__title {
  margin: 16px 0 0;
  font-size: 20px;
  line-height: 32px;
  color: blue; }

.post-preview--default .post-preview__desc {
  font-size: 14px;
  line-height: 22px; }

.post-preview--featured .post-preview__title {
  margin: 0;
  font-size: 48px;
  line-height: 64px;
  color: red; }

.post-preview--featured .post-preview__content__inner {
  background: #FFF;
  padding: 32px 28px 32px 28px; }

.post-preview--portrait .post-preview__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.post-preview--portrait .post-preview__title {
  margin: 0 0 10px; }

.post-preview--portrait .post-preview__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 266px;
          flex: 0 0 266px;
  height: 384px; }

.post-preview--portrait .post-preview__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 364px;
          flex: 0 0 364px;
  padding-left: 14px; }

.post-preview--portrait.post-preview--featured .post-preview__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 448px;
          flex: 0 0 448px;
  height: 650px; }

.post-preview--portrait.post-preview--featured .post-preview__title {
  position: relative; }

.post-preview--portrait.post-preview--featured .post-preview__content {
  margin-top: 64px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px;
  margin-left: -70px; }

.post-preview--landscape.post-preview--default .post-preview__meta {
  margin-bottom: 16px; }

.post-preview--landscape .post-preview__image {
  height: 256px; }
