.gallery {
	position: fixed;
	top: 32px;
	max-height: calc(100% - 32px);
	width: 1344px;
	overflow: scroll;
	z-index: 200;
	background: #FFF;
	height: calc(100% - 64px);
	display: flex;
	align-items: center;
	padding-bottom: 64px;
	.slider__controls {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 56px;
	}
	.slider__counter {
		font-size: 20px;
	}	
	.slider__controls__bottom {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.caption {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 20px;
		text-align: left;
		line-height: 32px;
		color: #000;
	}
}

.gallery__inner {
	width: calc(100% - 98px);
}

.gallery__slide {
	text-align: center;
	&--portrait {
		img {
			margin: 0 auto;
		}
	}
}

.gallery__slide__media {
	position: relative;
	display: inline-block;
}