
.slider__inner {
	overflow: hidden;
}

.slider__slides {
	display: flex;
	transition: transform 200ms linear;
}	

.slider .slide {
	flex: 0 0 100%;
}

.slider__controls {
	float: right;
	color: blue;
	font-family: $font--bold;
	text-align: center;
	&__item {
		margin-bottom: 16px;
	}
}

.slider__counter {
	font-size: 14px;
	color: #000;
}

.slider-btn {
	cursor: pointer;
}

.slider .slide {
	position: relative;

}
.slide {
	.slider__inner-controls {
		cursor: pointer;
		display: block;
		color: blue;
		font-family: $font--bold;
		font-size: 20px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 100ms linear;
		z-index: 10;
		.video-controls__item {
			display: inline-block;
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	&:hover{
		.slider__inner-controls {
			opacity: 1;
		}
	}
}


.slider--main,
.slider--small {
	position: relative;
	.slider__controls {
		position: absolute;
    right: 0;
    top: 0;
	}
}
.slider--main {
	width: 903px;
	.slider__inner {
		width: 826px;
	}
	.slide__image {
		height: 512px;
	}
}

.slider--small {
	.slider__inner {
		width: 334px;
	}
	.slide__image {
		height: 254px;
	}
}