
.slider__inner {
	overflow: hidden;
}

.slider__slides {
	display: flex;
	transition: transform 200ms linear;
}	

.slider .slide {
	flex: 0 0 100%;
}

.slider__controls {
	float: right;
	color: blue;
	font-family: $font--bold;
	text-align: center;
	&__item {
		margin-bottom: 16px;
	}
}

.slider__counter {
	font-size: 14px;
	color: #000;
}

.slider-btn {
	cursor: pointer;
}

.slider .slide {
	position: relative;

}

.slide {
	.slider__inner-controls {
		cursor: pointer;
		display: block;
		color: blue;
		font-family: $font--bold;
		font-size: 20px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 100ms linear;
		z-index: 10;
		.video-controls__item {
			display: inline-block;
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	&:hover{
		.slider__inner-controls {
			opacity: 1;
		}
	}
}

.post__media .slide--video {
	.slider__inner-controls {
		transition: width 300ms ease-in-out, height 300ms ease-in-out, opacity 300ms ease-in-out;
		height: 68px;
	}
	.video-btn {
		position: relative;
		&:before {
			content: '';
			display: inline-block;
		}
	}
	&.js-videoIsPaused {
		.slider__inner-controls {
			width: 80px;
			opacity: 1;
			overflow: hidden;
			transform: translate(-30%, -60%);
		}	
		.open-gallery {
			opacity: 0;
			width: 0;
			height: 0;
			overflow: hidden;
		}
		.video-btn {
			margin-left: 0;
			&:before {
				border: 25px solid transparent;
				border-left: 40px solid blue;
				top: 1px;
				position: relative;
				margin-right: 5px;
			}
		}
		.video-btn__txt {
			display: none;
		}
		&:hover {
			.slider__inner-controls {
				width: 250px;
				transform: translate(-50%, -50%);
			}	
			.video-btn {
				margin-left: 14px;
				&:before {
					border: 7px solid transparent;
					border-left: 12px solid blue;
				}
			}
			.video-btn__txt {
				display: inline-block;
			}
			.open-gallery {
				width: 156px;
				height: 64px;
				overflow: visible;
				opacity: 1;
			}
		}
	}
	&.js-videoIsActive {
		.slider__inner-controls {
			transform: translate(-50%, -50%);
		}
		.video-btn:before {
			border: 5px solid blue;
			margin-right: 10px;
			margin-left: 14px;
		}		
	}
}


.slider--main,
.slider--small {
	position: relative;
	.slider__controls {
		position: absolute;
    right: 0;
    top: 0;
	}
}
.slider--main {
	width: 903px;
	.slider__inner {
		width: 826px;
	}
	.slide__image {
		height: 512px;
	}
}

.slider--small {
	.slider__inner {
		width: 334px;
	}
	.slide__image {
		height: 254px;
	}
	.slide .slider__inner-controls {
		width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
		text-align: center;
    color: #000;
	}
}