.video {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	video {
		display: block;
		width: auto;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.video-controls {
		position: absolute;
		top: 50%;
		left: 53%;
		transform: translate(-50%, -50%);
		z-index: 2;
		color: blue;
		font-family: $font--bold;
		font-size: 32px;
	}
	.video-state {
		border: 20px solid transparent;
		border-left: 35px solid blue;
		display: block;
		transition: border linear 200ms;
	}
	&.js-videoIsActive {
		&:before,
		&:after {
			background-color: transparent;
		}
		.video-controls {
			opacity: 0;
			left: 50%;
		}
		.video-state {
			border: 16px solid blue;
		}
		&:hover {
			.video-controls {
				opacity: 1;
			}
		}
	}
	&.post-preview__video {
		@extend %bw-filter;
		&:before,
		&:after {
			z-index: 2;
		}
		.video-controls {
			position: absolute;
			top: 50%;
		}
	}
	@include respond-to(desktop) {
		.video-state {
			border: 25px solid transparent;
			border-left: 40px solid blue;
		}		
		&.js-videoIsActive {
			.video-state {
				border: 20px solid blue;
			}
		}
	}
}

.post-preview--featured .post-preview__video {
	.video-state {
		border: 20px solid transparent;
    border-left: 30px solid red;
	}
	&.js-videoIsActive {
		.video-state {
			border: 15px solid red;
		}
	}	
	@include respond-to(tablet) {
		.video-state {
			border: 25px solid transparent;
			border-left: 40px solid red;
		}
		&.js-videoIsActive {
			.video-state {
				border: 20px solid red;
			}
		}	
	}
}


.slider .video {
	cursor: pointer;
	position: relative;
	background-color: #000;
	transition: background-color 100ms ease-in-out;
	height: 192px;
	video {
		width: 100%;
		height: auto;
		top: 50%;
		left: 0;
		opacity: 1;
		transform: translateY(-50%);
		transition: opacity 100ms ease-in-out;
	}
	&--loading {
		background-color: transparent;
		video {
			opacity: 0;
		}
		.video-btn {
			display: none;
		}
	}
	@include respond-to(tablet) {
		height: 416px;
	}	
	@include respond-to(desktop) {
		height: 512px;
	}
}