.landing-page--contact {
	position: relative;
}
.contact__map-wrapper {
	position: absolute;
	padding: $lh ($char-width * 2);
	width: 826px;
	height: 480px;
	> div {
		position: relative;
		width: 100%;
		height: 100%;
	}
	@include respond-to(tablet) {
		padding: $lh ($tablet-char-width * 2);
	}
	@include respond-to(desktop) {
		padding: $lh ($desktop-char-width * 2);
	}
}