.post__title {
	margin: 0;
	max-width: $lh * 14;
	@include respond-to(tablet) {
		max-width: $tablet-lh * 14;
	}
	@include respond-to(desktop) {
		max-width: $desktop-lh * 14;
	}
	@include respond-to(desktop-1440) {
		max-width: $desktop-lh * 16;
	}
	@include respond-to(desktop-1600) {
		max-width: $desktop-lh * 20;
	}
}

.post__meta {
	display: inline-block;
	color: $secondaryTextColor;
	font-size: 10px;
	line-height: 20px;
	&__item,
	.label {
		display: inline;
	}
	.label {
		font-family: $font--bold;
	}
	@include respond-to(tablet) {
		font-size: 12px;
		line-height: 24px;
	}
}

.post__authors__list__item__link {
	text-decoration: underline;
}

.post__content {
	width: 100%;
	padding: ($lh * 2) 0 0 0;
	margin-bottom: $lh * 2;
	@include respond-to(tablet) {
		padding: ($tablet-lh * 2)  0 0 ($tablet-char-width * 5);
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		width: 882px;
		padding: ($desktop-lh * 2) 0 0 ($desktop-char-width * 5);
		margin-bottom: $desktop-lh * 2;
	}
	@include respond-to(desktop-1600) {
		padding: ($desktop-lh * 2) 0 0 ($desktop-char-width * 6);
		width: 1008px;
	}
}

.post__media {
	margin-bottom: $lh * 2;
	position: relative;
	.slider__slides {
		float: none;
	}
	.slide__image,
	&__video-wrapper {
		height: 192px;
	}
	&__image {
		overflow: hidden;
	}
	.video {
		height: 100%;
		width: 100%;
		background-color: #000;
		video {
			width: 100%;
			height: auto;
			left: auto;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
		.slide__image,
		&__video-wrapper {
			height: 416px;
		}
	}
	@include respond-to(desktop) {
		margin-bottom: $desktop-lh * 2;
		.slide__image,
		&__video-wrapper {
			height: 512px;
		}
	}		
	@include respond-to(desktop-1440) {
	
	}
}

.post__media__caption {
	margin-top: 8px;
	color: #4A4A4A;
	font-family: $font--bold;
	font-size: $body-fs;
	line-height: $body-lh;
	@include respond-to(desktop) {
		font-size: $desktop-body-fs;
		line-height: $desktop-body-lh;
	}

}

.field-body {
	p:last-child {
		margin-bottom: 0;
	}
}
.field-body+.post__media,
.field-body+.subtitle {
	margin-top: $lh * 2;
	@include respond-to(tablet) {
		margin-top: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		margin-top: $desktop-lh * 2;
		
	}
}

.subtitle {
	margin-bottom: $lh * 2;
	max-width: 392px;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		margin-bottom: $desktop-lh * 2;
		margin-left: $desktop-char-width * -5;
		
	}
}

.post__external-link {
	width: 882px;
	margin-bottom: $lh * 2;
	a {
		color: blue;
	}
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(desktop) {
		margin: 0 0 ($desktop-lh * 2) ($desktop-char-width * 9);
	}
}

.post__media {
	.slider__controls {
		position: absolute;
		right: 0;
		top: -24px;
    display: flex;
	}
	.slider-btn--next {
		order: 3;
	}
	.slider__counter {
		order: 2;
		margin: 0 20px;
	}
	.slider-btn--prev {
		order: 1
	}
	@include respond-to(tablet) {
		.slider__controls {
			top: 0;
			display: block;
		}
		.slider__counter {
			margin: 0;
		}
		.slider__inner {
			width: calc( 100% - 70px - (12px * 2));
		}
	}
	@include respond-to(desktop) {
		.slider__inner {
			width: calc(100% - 70px);
		}
	}
}

