.post__title {
	margin: 0;
	max-width: 392px;
}

.post__meta {
	display: inline-block;
	color: $secondaryTextColor;
	font-size: 12px;
	line-height: 28px;
	&__item,
	.label {
		display: inline;
	}
	.label {
		font-family: $font--bold;
	}
}

.post__authors__list__item__link {
	text-decoration: underline;
}

.post__content {
	width: 100%;
	padding: ($char-width * 5) 0 0 0;
	@include respond-to(tablet) {
		padding: ($tablet-char-width * 5) 0 0 ($tablet-lh * 4);
	}
	@include respond-to(desktop) {
		width: 882px;
		padding: ($desktop-char-width * 5) 0 0 ($desktop-lh * 4);
	}
	@include respond-to(desktop-1440) {
	}
}

.post__media {
	margin-bottom: 64px;
	position: relative;
	.slider__slides {
		float: none;
	}
	.slide__image {
		height: 576px;
	}
	.slider__controls {
		position: absolute;
		right: -28px;
		top: 0;
		transform: translateX(100%);
	}
	&__image {
		overflow: hidden;
	}
	&__video-wrapper {
		height: 480px;
	}
	.video {
		height: 100%;
		width: 100%;
		video {
			width: 100%;
			height: auto;
		}
	}
}

.post__media__caption {
	margin-top: 8px;
	color: #4A4A4A;
	font-family: $font--bold;
	font-size: 14px;
	line-height: 32px;
}

.field-body {
	p:last-child {
		margin-bottom: 0;
	}
}
.field-body+.post__media,
.field-body+.subtitle {
	margin-top: 64px;
}

.subtitle {
	margin-bottom: 64px;
	margin-left: -128px;
	max-width: 392px;
}

.post__external-link {
	width: 882px;
	margin: 68px 0 0 128px;
	a {
		color: blue;
	}
}