@import "reset";
@import "fonts";
@import "typography";

* {
  box-sizing: border-box;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

.link {
  cursor: pointer;
}

.link,
a .title {
  color: blue;
}
a {
  .title {
    text-decoration: underline;
  }
  &:hover .title {
    text-decoration: none;
  }
}

.main-title {
	max-width: 392px;
}

.caption {
  @extend %bodyFont;
  font-family: $font--bold;
  color: $secondaryTextColor;
  margin-top: $lh/2;
  @include respond-to(tablet) {
    margin-top: $tablet-lh/2;
  }
  @include respond-to(desktop) {
    margin-top: $desktop-lh/2;
  }  
}

.filterBox {
  color: #000;
  &__state {
    color: blue;
  }
}

.blue {
  color: blue;
}