@import "reset";
@import "fonts";
@import "typography";

* {
  box-sizing: border-box;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

.link,
a .title {
  color: blue;
}
a {
  .title {
    text-decoration: underline;
  }
  &:hover .title {
    text-decoration: none;
  }
}

.main-title {
	max-width: 392px;
}

.caption {
  margin-top: 8px;
	color: #4A4A4A;
	font-family: $font--bold;
	font-size: 14px;
	line-height: 32px;
}