@font-face {
	font-family: $font;
	src: url('../fonts/ZeitungMonoPro-Regular.woff2') format('woff2'),
			url('../fonts/ZeitungMonoPro-Regular.woff') format('woff');
}

@font-face {
	font-family: $font--bold;
	src: url('../fonts/ZeitungMonoPro-Bold.woff2') format('woff2'),
		url('../fonts/ZeitungMonoPro-Bold.woff') format('woff');
}