body {
	font-family: $font;
	font-size: 20px;
	line-height: 32px;
}

a {
	font-family: $font--bold;
}

p {
	font-family: $font;
}

h1, h2, h3, h4, h5 {
	font-family: $font--bold;
	font-size: 20px;
	line-height: 32px;
	margin: 0;
}

.main-title {
	margin-bottom: 64px;
}