// fonts for $breakpoints[mobile]
$fs: 14px;
$lh: 24px;
$char-width: 10px;

$body-fs: 12px;
$body-lh: 18px;

$featured-fs: 20px;
$featured-lh: 32px;

// fonts for >= $breakpoints[tablet]
$tablet-fs: 16px;
$tablet-lh: 26px;
$tablet-char-width: 12px;

$tablet-featured-fs: 32px;
$tablet-featured-lh: 44px;

// fonts for >= $breakpoints[desktop]
$desktop-fs: 20px;
$desktop-lh: 32px;
$desktop-char-width: 14px;

$desktop-body-fs: 14px;
$desktop-body-lh: 22px;

$desktop-featured-fs: 48px;
$desktop-featured-lh: 64px;

// Patterns/Main Font Styles
%defaultFont {
  font-size: $fs;
  line-height: $lh;
  @include respond-to(tablet) {
    font-size: $tablet-fs;
    line-height: $tablet-lh;
	}
	@include respond-to(desktop) {
    font-size: $desktop-fs;
    line-height: $desktop-lh;
	}
}

// Body text Font Styles
%bodyFont {
	font-size: $body-fs;
	line-height: $body-lh;
	@include respond-to(desktop) {
		font-size: $desktop-body-fs;
		line-height: $desktop-body-lh;
	}
}

// Featured Blocks Font Styles
%featuredFont {
	font-size: $featured-fs;
	line-height: $featured-lh;
	@include respond-to(tablet) {
		font-size: $tablet-featured-fs;
		line-height: $tablet-featured-lh;
	}
	@include respond-to(desktop-1440) {
		font-size: $desktop-featured-fs;
		line-height: $desktop-featured-lh;
	}
}

body {
	@extend %defaultFont;
	font-family: $font;
}

a,
strong,
h1, h2, h3, h4, h5,
.website-footer,
.pattern {
	font-family: $font--bold;
}

p {
	font-family: $font;
}

.field-body p {
	margin-bottom: $lh;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh;
	}
	@include respond-to(desktop) {
		margin-bottom: $desktop-lh;
	}
}

.field-body a {
	color: blue;
}

h1, h2, h3, h4, h5 {
	@extend %defaultFont;
	margin: 0;
}

.main-title {
	margin-bottom: $lh;
	@include respond-to(tablet) {
		margin-bottom: $tablet-lh * 2;
	}
	@include respond-to(tablet) {
		margin-bottom: $desktop-lh * 2;
	}
}

blockquote {
	position: relative;
	padding: 0;
	color: #5a5a5a;
	margin: ($lh * 2) 0 ($lh * 2) 0;
	p:before {
		margin-left: $char-width * -1;
	}
	p:after,
	p:before {
		content: '"';
		color: blue;
		font-family: $font--bold;
	}
	@include respond-to(tablet) {
		margin: ($tablet-lh * 2) 0 ($tablet-lh * 2) ($tablet-char-width * 6);
		p:before {
			margin-left: $tablet-char-width * -1;
		}
	}
	@include respond-to(desktop) {
		margin: ($desktop-lh * 2) 0 ($desktop-lh * 2) ($desktop-char-width * 6);
		p:before {
			margin-left: $desktop-char-width * -1;
		}
	}
}